
#fullBody {
    display: flex;
    flex-direction: column;
    background-color: burlywood;
}
  
#header {
    display: flex;
    align-items: center;
    justify-items: left;
    border-bottom: solid black;
    background-color: rgba(22, 21, 21, 0.912);
}

#header h1 {
    padding-left: 25px;
    font-size: 65px;
    color: whitesmoke;
}

#header img {
    width: 20%;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#fullMain {
    display: flex;
}

#eventContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 60px;

}

#uniqueImages {
    border: solid black;
    width: 75%;
    display: flex;
    flex-direction: row;
    height: 30%;
    padding-right: 30px;
}

#uniqueImages img {
    width: 33%;
    height: 80%;
    padding-right: 20px;
    padding-top: 20px;
    display: block;
}

#product1 {
    padding-left: 20px;
}

#canvasDiv {
    width: 75%;
}

#fullMain {
    height: 100%;
}

#myChart {
    display: block;
    box-sizing: border-box;
    height: 460px;
    width: 920px;
}

#list {
   border: solid black 3px;
   display: inline-block;
   padding-left: 10px;
   width: 200%;
}

#list li {
    padding-top: 20px;
}